In [1]:
import pandas as pd
import numpy as np
import ast
import os
import glob

In [2]:
path_ = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset"
os.makedirs(path_, exist_ok=True)

### Table

#### TABLE TEAMS

In [30]:
teams_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/teams.csv"

team_df = pd.read_csv(teams_path, encoding='utf-8')

team_df.head(20)

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
5,Troyes,Troyes,3795,Esp\u00e9rance Sportive Troyes Aube Champagne,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
6,Getafe (Madrid),Getafe,698,Getafe Club de F\u00fatbol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
7,M\u00f6nchengladbach,Borussia M'gladbach,2454,Borussia VfL M\u00f6nchengladbach,"{'name': 'Germany', 'id': '276', 'alpha3code':...",club
8,"Huddersfield, West Yorkshire",Huddersfield Town,1673,Huddersfield Town FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
9,Bilbao,Athletic Club,678,Athletic Club Bilbao,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
10,Madrid,Atl\u00e9tico Madrid,679,Club Atl\u00e9tico de Madrid,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
11,Lyon,Olympique Lyonnais,3766,Olympique Lyonnais,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
12,Paris,PSG,3767,Paris Saint-Germain FC,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
13,Valencia,Valencia,674,Valencia Club de F\u00fatbol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
14,Madrid,Real Madrid,675,Real Madrid Club de F\u00fatbol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
15,Barcelona,Barcelona,676,FC Barcelona,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
16,Las Palmas de Gran Canaria,Las Palmas,714,UD Las Palmas,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
17,Legan\u00e9s,Legan\u00e9s,712,CD Legan\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
18,Ferrara,SPAL,3204,Societ\u00e0 Polisportiva Ars et Labor 2013,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",club
19,Swansea,Swansea City,10531,Swansea City AFC,"{'name': 'Wales', 'id': '0', 'alpha3code': 'XW...",club

##### Fig mã hoá chữ cái

In [31]:
columns_encoding = ['city', 'name', 'officialName']

def decode_unicode_escape(text):
    if pd.isna(text):
        return text
    try:
        return text.encode('utf-8').decode('unicode_escape')
    except Exception:
        return text
    
for col in columns_encoding:
    if col in team_df.columns:
        team_df[col] = team_df[col].apply(decode_unicode_escape)

print(team_df[columns_encoding].head(10))

                           city                 name  \
0           Newcastle upon Tyne     Newcastle United
1                          Vigo        Celta de Vigo
2                     Barcelona             Espanyol
3               Vitoria-Gasteiz     Deportivo Alavés
4                      Valencia              Levante
5                        Troyes               Troyes
6               Getafe (Madrid)               Getafe
7               Mönchengladbach  Borussia M'gladbach
8  Huddersfield, West Yorkshire    Huddersfield Town
9                        Bilbao        Athletic Club

                               officialName
0                       Newcastle United FC
1                   Real Club Celta de Vigo
2              Reial Club Deportiu Espanyol
3                          Deportivo Alavés
4                                Levante UD
5  Espérance Sportive Troyes Aube Champagne
6                     Getafe Club de Fútbol
7              Borussia VfL Mönchengladbach
8                      Huddersfield Town FC
9                      Athletic Club Bilbao

##### Lược bỏ các alpha2code và alpha3code chỉ giữ ID cho phù hợp với chuẩn hoá của SQL

In [32]:
def clean_df(area_str):
    try:
        area_dict = ast.literal_eval(area_str)
        area_id = int(area_dict.get("id", 0))
        alpha3 = area_dict.get("alpha3code", "")
        
        if alpha3 =="XEN" or area_id == 0:
            return 826
        
        return area_id
    except:
        return None
    
team_df["area"] = team_df["area"].apply(clean_df)

output_path = os.path.join(path_, "teams_config.csv")
team_df.to_csv(output_path, index=False, encoding="utf-8-sig")
print(f"File auto save!!!: {output_path}")

File auto save!!!: /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/teams_config.csv

#### TABLE PLAYERS

cần chỉnh-sửa các cột sau: passportArea, firstName, lastName, shortName, role, birthArea.

In [60]:
players_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/players.csv"

players_df = pd.read_csv(players_path)
players_df.head()

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,NaN,Tekin,4502.0,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687.0
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,NaN,Sarr,3775.0,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423.0
2,"{'name': 'France', 'id': '250', 'alpha3code': ...",72,Over,NaN,Mandanda,3772.0,1998-10-26,176,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'France', 'id': '250', 'alpha3code': ...",393230,NaN,O. Mandanda,NaN
3,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",82,Alfred John Momar,NaN,N'Diaye,683.0,1990-03-06,187,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'France', 'id': '250', 'alpha3code': ...",32793,right,A. N'Diaye,19314.0
4,"{'name': 'France', 'id': '250', 'alpha3code': ...",84,Ibrahima,NaN,Konat\u00e9,2975.0,1999-05-25,192,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393247,right,I. Konat\u00e9,NaN

In [54]:
columns_encoding = ["firstName", "lastName", "shortName"]

for col in columns_encoding:
    if col in players_df.columns:
        players_df[col] = players_df[col].apply(decode_unicode_escape)

print(players_df[columns_encoding].head(20))

            firstName           lastName        shortName
0               Harun              Tekin         H. Tekin
1              Malang               Sarr          M. Sarr
2                Over           Mandanda      O. Mandanda
3   Alfred John Momar            N'Diaye       A. N'Diaye
4            Ibrahima             Konaté        I. Konaté
5              Jasper          Cillessen     J. Cillessen
6                Toby       Alderweireld  T. Alderweireld
7                 Jan         Vertonghen    J. Vertonghen
8           Alexander              Djiku         A. Djiku
9          Christian   Dannemann Eriksen       C. Eriksen
10             Marcel           Sabitzer      M. Sabitzer
11           Kolbeinn         Sigþórsson    K. Sigþórsson
12            Charles             Traoré        C. Traoré
13             Niklas          Moisander     N. Moisander
14          Charlison           Benschop      C. Benschop
15            Johann   Berg Guðmunds­son  J. Guðmunds­son
16         Przemysław              Tytoń         P. Tytoń
17    Marcelo Antônio       Guedes Filho          Marcelo
18              Jetro            Willems       J. Willems
19   Ali Adnan Kadhim         Al Tameemi        Ali Adnan

In [55]:
players_df['birthArea'] = players_df['birthArea'].apply(clean_df)
players_df['passportArea'] = players_df['passportArea'].apply(clean_df)

players_df.head(10)

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,792,78,Harun,NaN,Tekin,4502.0,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",792,32777,right,H. Tekin,4687.0
1,686,73,Malang,NaN,Sarr,3775.0,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",250,393228,left,M. Sarr,4423.0
2,250,72,Over,NaN,Mandanda,3772.0,1998-10-26,176,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",250,393230,NaN,O. Mandanda,NaN
3,686,82,Alfred John Momar,NaN,N'Diaye,683.0,1990-03-06,187,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",250,32793,right,A. N'Diaye,19314.0
4,250,84,Ibrahima,NaN,Konaté,2975.0,1999-05-25,192,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",250,393247,right,I. Konaté,NaN
5,528,83,Jasper,NaN,Cillessen,676.0,1989-04-22,185,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",528,33,right,J. Cillessen,664.0
6,56,91,Toby,NaN,Alderweireld,1624.0,1989-03-02,187,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",56,36,right,T. Alderweireld,5629.0
7,56,88,Jan,NaN,Vertonghen,1624.0,1987-04-24,189,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",56,48,left,J. Vertonghen,5629.0
8,250,74,Alexander,NaN,Djiku,3783.0,1994-08-09,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",250,229427,right,A. Djiku,NaN
9,208,76,Christian,NaN,Dannemann Eriksen,1624.0,1992-02-14,180,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",208,54,right,C. Eriksen,7712.0

In [56]:
def parse_role(role_str):
    try:
        role_dict = ast.literal_eval(role_str)
        name = role_dict.get('name', '')
        return f"{name}"
    except Exception:
        return None
    
players_df['role'] = players_df['role'].apply(parse_role)

players_df.head()

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,792,78,Harun,NaN,Tekin,4502.0,1989-06-17,187,Goalkeeper,792,32777,right,H. Tekin,4687.0
1,686,73,Malang,NaN,Sarr,3775.0,1999-01-23,182,Defender,250,393228,left,M. Sarr,4423.0
2,250,72,Over,NaN,Mandanda,3772.0,1998-10-26,176,Goalkeeper,250,393230,NaN,O. Mandanda,NaN
3,686,82,Alfred John Momar,NaN,N'Diaye,683.0,1990-03-06,187,Midfielder,250,32793,right,A. N'Diaye,19314.0
4,250,84,Ibrahima,NaN,Konaté,2975.0,1999-05-25,192,Defender,250,393247,right,I. Konaté,NaN

In [57]:
players_df = players_df.drop(columns=["passportArea", "currentTeamId", "birthArea", "currentNationalTeamId"])

In [59]:
output_path = os.path.join(path_, "players_config.csv")
players_df.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f"file auto save: {output_path}")

file auto save: /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/players_config.csv

#### TABLE MATCH * (England, European, France, Germany, Italy, Spain, World_Cup)

In [74]:


def nomalize_matchTeams(df):
    team_rows = []
    for _, row in df.iterrows():
        match_id = row['wyId']
        teams_dict = row['teamsData']

        if isinstance(teams_dict, str):
            try:
                teams_dict = ast.literal_eval(teams_dict)
            except:
                continue

        for team_id_str, team_info in teams_dict.items():
            team_id = team_info.get('teamId')
            side = team_info.get('side')
            coach_id = team_info.get('coachId', None)
            team_rows.append({
                'matchID': match_id,
                'teamID': team_id,
                'side': side,
                'coachID': coach_id
            })
    return pd.DataFrame(team_rows)

#### TABLE MATCHTEAMS

##### MatchTeams England

In [86]:
match_EN_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_England.csv"

match_EN_df = pd.read_csv(match_EN_path)
match_EN_df.head()

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4405654,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2",...,away,1659,2,0,1,"{'bench': [{'playerId': 11061, 'ownGoals': '0'...",0,"[{'playerId': 11061, 'ownGoals': '0', 'redCard...","[{'playerId': 259531, 'ownGoals': '0', 'redCar...","[{'playerIn': 7989, 'playerOut': 259531, 'minu..."
1,Played,4405654,38,"{'1628': {'scoreET': 0, 'coachId': 8357, 'side...",181150,2018-05-13 14:00:00,1628,Selhurst Park,2500090,"Crystal Palace - West Bromwich Albion, 2 - 0",...,away,1627,0,0,1,"{'bench': [{'playerId': 399517, 'ownGoals': '0...",0,"[{'playerId': 399517, 'ownGoals': '0', 'redCar...","[{'playerId': 25537, 'ownGoals': '0', 'redCard...","[{'playerIn': 261, 'playerOut': 25537, 'minute..."
2,Played,4405654,38,"{'1609': {'scoreET': 0, 'coachId': 7845, 'side...",181150,2018-05-13 14:00:00,1609,The John Smith's Stadium,2500091,"Huddersfield Town - Arsenal, 0 - 1",...,home,1673,0,0,1,"{'bench': [{'playerId': 274482, 'ownGoals': '0...",0,"[{'playerId': 274482, 'ownGoals': '0', 'redCar...","[{'playerId': 9419, 'ownGoals': '0', 'redCards...","[{'playerIn': 38377, 'playerOut': 9419, 'minut..."
3,Played,4405654,38,"{'1651': {'scoreET': 0, 'coachId': 8093, 'side...",181150,2018-05-13 14:00:00,1612,Anfield,2500092,"Liverpool - Brighton & Hove Albion, 4 - 0",...,home,1612,4,0,1,"{'bench': [{'playerId': 74, 'ownGoals': '0', '...",2,"[{'playerId': 74, 'ownGoals': '0', 'redCards':...","[{'playerId': 25747, 'ownGoals': '2', 'redCard...","[{'playerIn': 8140, 'playerOut': 25747, 'minut..."
4,Played,4405654,38,"{'1644': {'scoreET': 0, 'coachId': 93112, 'sid...",181150,2018-05-13 14:00:00,1611,Old Trafford,2500093,"Manchester United - Watford, 1 - 0",...,home,1611,1,0,1,"{'bench': [{'playerId': 7918, 'ownGoals': '0',...",1,"[{'playerId': 7918, 'ownGoals': '0', 'redCards...","[{'playerId': 7939, 'ownGoals': '0', 'redCards...","[{'playerIn': 8135, 'playerOut': 7939, 'minute..."

In [87]:
match_EN_config = nomalize_matchTeams(match_EN_df)

team_coach_map = match_EN_config[match_EN_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_EN_config['coachID'] = match_EN_config.apply(fill_coach, axis=1)


output_path_match_EN = os.path.join(path_, 'MATCHTEAMS_EN.csv')
match_EN_config.to_csv(output_path_match_EN, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_EN}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_EN.csv

In [88]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_EN_config[match_EN_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams Euopean_Championship

In [89]:
match_EUC_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_European_Championship.csv"
match_EUC_df = pd.read_csv(match_EUC_path)
match_EUC_df.head(10)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4165474,0,"{'9905': {'scoreET': 1, 'coachId': 137521, 'si...",9291,2016-07-10 19:00:00,9905,Stade de France,1694440,"Portugal - France, 1 - 0 (E)",...,away,4418,0,0,1,"{'bench': [{'playerId': 7988, 'assists': '0', ...",0,"[{'playerId': 7988, 'assists': '0', 'goals': '...","[{'playerId': 25714, 'assists': '0', 'goals': ...","[{'playerIn': 231139, 'assists': '0', 'playerO..."
1,Played,4165473,0,"{'3148': {'scoreET': 0, 'coachId': 134365, 'si...",9291,2016-07-07 19:00:00,4418,Stade V\u00e9lodrome,1694439,"Germany - France, 0 - 2",...,home,3148,0,0,1,"{'bench': [{'playerId': 15291, 'assists': '0',...",0,"[{'playerId': 15291, 'assists': '0', 'goals': ...","[{'playerId': 14716, 'assists': '0', 'goals': ...","[{'playerIn': 20612, 'assists': '0', 'playerOu..."
2,Played,4165473,0,"{'10682': {'scoreET': 0, 'coachId': 136439, 's...",9291,2016-07-06 19:00:00,9905,Groupama Stadium,1694438,"Portugal - Wales, 2 - 0",...,away,10682,0,0,1,"{'bench': [{'playerId': 77556, 'assists': '0',...",0,"[{'playerId': 77556, 'assists': '0', 'goals': ...","[{'playerId': 61963, 'assists': '0', 'goals': ...","[{'playerIn': 9127, 'assists': '0', 'playerOut..."
3,Played,4165472,0,"{'7839': {'scoreET': 0, 'coachId': 210205, 'si...",9291,2016-07-03 19:00:00,4418,Stade de France,1694437,"France - Iceland, 5 - 2",...,away,7839,2,0,1,"{'bench': [{'playerId': 57480, 'assists': '0',...",0,"[{'playerId': 57480, 'assists': '0', 'goals': ...","[{'playerId': 62221, 'assists': '0', 'goals': ...","[{'playerIn': 37948, 'assists': '0', 'playerOu..."
4,Played,4165472,0,"{'3148': {'scoreET': 1, 'coachId': 134365, 'si...",9291,2016-07-02 19:00:00,3148,Stade Matmut-Atlantique,1694436,"Germany - Italy, 1 - 1 (P)",...,away,3757,1,5,1,"{'bench': [{'playerId': 25421, 'assists': '0',...",0,"[{'playerId': 25421, 'assists': '0', 'goals': ...","[{'playerId': 22566, 'assists': '0', 'goals': ...","[{'playerIn': 21095, 'assists': '0', 'playerOu..."
5,Played,4165472,0,"{'10682': {'scoreET': 0, 'coachId': 136439, 's...",9291,2016-07-01 19:00:00,10682,Stade Pierre-Mauroy,1694435,"Wales - Belgium, 3 - 1",...,away,5629,1,0,1,"{'bench': [{'playerId': 134708, 'assists': '0'...",1,"[{'playerId': 134708, 'assists': '0', 'goals':...","[{'playerId': 134769, 'assists': '0', 'goals':...","[{'playerIn': 8249, 'assists': '0', 'playerOut..."
6,Played,4165472,0,"{'9905': {'scoreET': 1, 'coachId': 137521, 'si...",9291,2016-06-30 19:00:00,9905,Stade V\u00e9lodrome,1694434,"Poland - Portugal, 1 - 1 (P)",...,home,13869,1,3,1,"{'bench': [{'playerId': 99661, 'assists': '0',...",1,"[{'playerId': 99661, 'assists': '0', 'goals': ...","[{'playerId': 33032, 'assists': '1', 'goals': ...","[{'playerIn': 269189, 'assists': '0', 'playerO..."
7,Played,4165471,0,"{'7839': {'scoreET': 0, 'coachId': 210205, 'si...",9291,2016-06-27 19:00:00,7839,Allianz Riviera,1694433,"England - Iceland, 1 - 2",...,home,2413,1,0,1,"{'bench': [{'playerId': 9380, 'assists': '0', ...",1,"[{'playerId': 9380, 'assists': '0', 'goals': '...","[{'playerId': 210044, 'assists': '0', 'goals':...","[{'playerIn': 7873, 'assists': '0', 'playerOut..."
8,Played,4165471,0,"{'1598': {'scoreET': 0, 'coachId': 134151, 'si...",9291,2016-06-27 16:00:00,3757,Stade de France,1694432,"Italy - Spain, 2 - 0",...,away,1598,0,0,1,"{'bench': [{'playerId': 3335, 'assists': '0', ...",0,"[{'playerId': 3335, 'assists': '0', 'goals': '...","[{'playerId': 70125, 'assists': '0', 'goals': ...","[{'playerIn': 3290, 'assists': '0', 'playerOut..."
9,Played,4165471,0,"{'10451': {'scoreET': 0, 'coachId': 210902, 's...",9291,2016-06-26 19:00:00,5629,Stadium Municipal,1694431,"Hungary - Belgium, 0 - 4",...,home,10451,0,0,1,"{'bench': [{'playerId': 9611, 'assists': '0', ...",0,"[{'playerId': 9611, 'assists': '0', 'goals': '...","[{'playerId': 8372, 'assists': '0', 'goals': '...","[{'playerIn': 33082, 'assists': '0', 'playerOu..."

In [90]:
match_EUC_config = nomalize_matchTeams(match_EUC_df)

team_coach_map = match_EUC_config[match_EUC_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_EUC_config['coachID'] = match_EUC_config.apply(fill_coach, axis=1)


output_path_match_EUC = os.path.join(path_, 'MATCHTEAMS_EUC.csv')
match_EUC_config.to_csv(output_path_match_EUC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_EUC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_EUC.csv

In [91]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_EUC_config[match_EUC_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams France

In [77]:
match_FRA_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_France.csv"

match_FRA_df = pd.read_csv(match_FRA_path)
match_FRA_df.head(10)

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4405655,38,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",181189,2018-05-19 19:00:00,0,Stade Michel d'Ornano,2501056,"Caen - PSG, 0 - 0",...,away,3767,0,0,1,"{'bench': [{'playerId': 14862, 'ownGoals': '0'...",0,"[{'playerId': 14862, 'ownGoals': '0', 'redCard...","[{'playerId': 347200, 'ownGoals': '0', 'redCar...","[{'playerIn': 26603, 'playerOut': 347200, 'min..."
1,Played,4405655,38,"{'3804': {'scoreET': 0, 'coachId': 220743, 'si...",181189,2018-05-19 19:00:00,0,Stade Gaston-G\u00e9rard,2501057,"Dijon - Angers SCO, 2 - 1",...,away,3799,1,0,1,"{'bench': [{'playerId': 347205, 'ownGoals': '0...",0,"[{'playerId': 347205, 'ownGoals': '0', 'redCar...","[{'playerId': 366542, 'ownGoals': '2', 'redCar...","[{'playerIn': 26044, 'playerOut': 366542, 'min..."
2,Played,4405655,38,"{'3766': {'scoreET': 0, 'coachId': 211238, 'si...",181189,2018-05-19 19:00:00,3766,Groupama Stadium,2501058,"Olympique Lyonnais - Nice, 3 - 2",...,away,3775,2,0,1,"{'bench': [{'playerId': 352992, 'ownGoals': '0...",1,"[{'playerId': 352992, 'ownGoals': '0', 'redCar...","[{'playerId': 28230, 'ownGoals': '0', 'redCard...","[{'playerIn': 26093, 'playerOut': 28230, 'minu..."
3,Played,4405655,38,"{'3771': {'scoreET': 0, 'coachId': 25691, 'sid...",181189,2018-05-19 19:00:00,3771,Stade V\u00e9lodrome,2501059,"Olympique Marseille - Amiens SC, 2 - 1",...,away,3789,1,0,1,"{'bench': [{'playerId': 26970, 'ownGoals': '0'...",1,"[{'playerId': 26970, 'ownGoals': '0', 'redCard...","[{'playerId': 38095, 'ownGoals': '0', 'redCard...","[{'playerIn': 25433, 'playerOut': 38095, 'minu..."
4,Played,4405655,38,"{'3772': {'scoreET': 0, 'coachId': 9092, 'side...",181189,2018-05-19 19:00:00,3772,Stade Saint-Symphorien,2501060,"Metz - Bordeaux, 0 - 4",...,home,3777,0,0,1,"{'bench': [{'playerId': 86486, 'ownGoals': '0'...",0,"[{'playerId': 86486, 'ownGoals': '0', 'redCard...","[{'playerId': 498357, 'ownGoals': '2', 'redCar...","[{'playerIn': 209014, 'playerOut': 498357, 'mi..."
5,Played,4405655,38,"{'3779': {'scoreET': 0, 'coachId': 149135, 'si...",181189,2018-05-19 19:00:00,3770,Stade de la Beaujoire - Louis Fonteneau,2501061,"Nantes - Strasbourg, 1 - 0",...,home,3770,1,0,1,"{'bench': [{'playerId': 37714, 'ownGoals': '0'...",1,"[{'playerId': 37714, 'ownGoals': '0', 'redCard...","[{'playerId': 260002, 'ownGoals': '0', 'redCar...","[{'playerIn': 43515, 'playerOut': 260002, 'min..."
6,Played,4405655,38,"{'3787': {'scoreET': 0, 'coachId': 26213, 'sid...",181189,2018-05-19 19:00:00,0,Roazhon Park,2501062,"Rennes - Montpellier, 1 - 1",...,home,3774,1,0,1,"{'bench': [{'playerId': 25776, 'ownGoals': '2'...",1,"[{'playerId': 25776, 'ownGoals': '2', 'redCard...","[{'playerId': 325781, 'ownGoals': '2', 'redCar...","[{'playerIn': 26610, 'playerOut': 325781, 'min..."
7,Played,4405655,38,"{'3782': {'scoreET': 0, 'coachId': 270285, 'si...",181189,2018-05-19 19:00:00,3782,Stade Geoffroy-Guichard,2501063,"Saint-\u00c9tienne - Lille, 5 - 0",...,away,3776,0,0,1,"{'bench': [{'playerId': 28122, 'ownGoals': '0'...",0,"[{'playerId': 28122, 'ownGoals': '0', 'redCard...","[{'playerId': 250134, 'ownGoals': '0', 'redCar...","[{'playerIn': 213308, 'playerOut': 250134, 'mi..."
8,Played,4405655,38,"{'3780': {'scoreET': 0, 'coachId': 215903, 'si...",181189,2018-05-19 19:00:00,3780,Stadium Municipal,2501064,"Toulouse - Guingamp, 2 - 1",...,away,3785,1,0,1,"{'bench': [{'playerId': 149057, 'ownGoals': '0...",0,"[{'playerId': 149057, 'ownGoals': '0', 'redCar...","[{'playerId': 26314, 'ownGoals': '0', 'redCard...","[{'playerIn': 256706, 'playerOut': 26314, 'min..."
9,Played,4405655,38,"{'3795': {'scoreET': 0, 'coachId': 25606, 'sid...",181189,2018-05-19 19:00:00,19830,Stade de l'Aube,2501065,"Troyes - Monaco, 0 - 3",...,away,19830,3,0,1,"{'bench': [{'playerId': 331923, 'ownGoals': '0...",1,"[{'playerId': 331923, 'ownGoals': '0', 'redCar...","[{'playerId': 471589, 'ownGoals': '2', 'redCar...","[{'playerIn': 3450, 'playerOut': 471589, 'minu..."

In [93]:
match_FRA_config = nomalize_matchTeams(match_FRA_df)

team_coach_map = match_FRA_config[match_FRA_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_FRA_config['coachID'] = match_FRA_config.apply(fill_coach, axis=1)


output_path_match_FRA = os.path.join(path_, 'MATCHTEAMS_FRA.csv')
match_FRA_config.to_csv(output_path_match_FRA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_FRA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_FRA.csv

In [94]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_FRA_config[match_FRA_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams Germany

In [95]:
match_DEU_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_Germany.csv"
match_DEU_df = pd.read_csv(match_DEU_path)
match_DEU_df.head()

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4405517,34,"{'2444': {'scoreET': 0, 'coachId': 14710, 'sid...",181137,2018-05-12 13:30:00,2445,Allianz Arena,2517036,"Bayern M\u00fcnchen - Stuttgart, 1 - 4",...,away,2445,4,0,1,"{'bench': [{'playerId': 356908, 'ownGoals': '0...",2,"[{'playerId': 356908, 'ownGoals': '0', 'redCar...","[{'playerId': 14845, 'ownGoals': '0', 'redCard...","[{'playerIn': 99410, 'playerOut': 14845, 'minu..."
1,Played,4405517,34,"{'2482': {'scoreET': 0, 'coachId': 272299, 'si...",181137,2018-05-12 13:30:00,2482,WIRSOL Rhein-Neckar-Arena,2517037,"Hoffenheim - Borussia Dortmund, 3 - 1",...,away,2447,1,0,1,"{'bench': [{'playerId': 14770, 'ownGoals': '0'...",0,"[{'playerId': 14770, 'ownGoals': '0', 'redCard...","[{'playerId': 14789, 'ownGoals': '2', 'redCard...","[{'playerIn': 14816, 'playerOut': 14789, 'minu..."
2,Played,4405517,34,"{'2457': {'scoreET': 0, 'coachId': 18987, 'sid...",181137,2018-05-12 13:30:00,2975,Olympiastadion Berlin,2517038,"Hertha BSC - RB Leipzig, 2 - 6",...,away,2975,6,0,1,"{'bench': [{'playerId': 15069, 'ownGoals': '0'...",3,"[{'playerId': 15069, 'ownGoals': '0', 'redCard...","[{'playerId': 406682, 'ownGoals': '0', 'redCar...","[{'playerIn': 70975, 'playerOut': 406682, 'min..."
3,Played,4405517,34,"{'2453': {'scoreET': 0, 'coachId': 14977, 'sid...",181137,2018-05-12 13:30:00,2453,Schwarzwald-Stadion,2517039,"Freiburg - Augsburg, 2 - 0",...,away,2481,0,0,1,"{'bench': [{'playerId': 14767, 'ownGoals': '0'...",0,"[{'playerId': 14767, 'ownGoals': '0', 'redCard...","[{'playerId': 16826, 'ownGoals': '0', 'redCard...","[{'playerIn': 354997, 'playerOut': 16826, 'min..."
4,Played,4405517,34,"{'2449': {'scoreET': 0, 'coachId': 447924, 'si...",181137,2018-05-12 13:30:00,2449,VELTINS-Arena,2517040,"Schalke 04 - Eintracht Frankfurt, 1 - 0",...,away,2462,0,0,1,"{'bench': [{'playerId': 49856, 'ownGoals': '0'...",0,"[{'playerId': 49856, 'ownGoals': '0', 'redCard...","[{'playerId': 136011, 'ownGoals': '0', 'redCar...","[{'playerIn': 3535, 'playerOut': 136011, 'minu..."

In [96]:
match_DEU_config = nomalize_matchTeams(match_DEU_df)

team_coach_map = match_DEU_config[match_DEU_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_DEU_config['coachID'] = match_DEU_config.apply(fill_coach, axis=1)


output_path_match_DEU = os.path.join(path_, 'MATCHTEAMS_DEU.csv')
match_DEU_config.to_csv(output_path_match_DEU, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_DEU}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_DEU.csv

In [97]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_DEU_config[match_DEU_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams Italy

In [98]:
match_ITA_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_Italy.csv"
match_ITA_df = pd.read_csv(match_ITA_path)
match_ITA_df.head()

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4406278,38,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",181248,2018-05-20 18:45:00,3161,NaN,2576335,"Lazio - Internazionale, 2 - 3",...,away,3161,3,0,1,"{'bench': [{'playerId': 3543, 'ownGoals': '0',...",1,"[{'playerId': 3543, 'ownGoals': '0', 'redCards...","[{'playerId': 20556, 'ownGoals': '0', 'redCard...","[{'playerIn': 20626, 'playerOut': 20556, 'minu..."
1,Played,4406278,38,"{'3158': {'scoreET': 0, 'coachId': 210119, 'si...",181248,2018-05-20 18:45:00,3158,MAPEI Stadium - Citt\u00e0 del Tricolore,2576336,"Sassuolo - Roma, 0 - 1",...,home,3315,0,0,1,"{'bench': [{'playerId': 423151, 'ownGoals': '0...",0,"[{'playerId': 423151, 'ownGoals': '0', 'redCar...","[{'playerId': 20842, 'ownGoals': '0', 'redCard...","[{'playerIn': 221047, 'playerOut': 20842, 'min..."
2,Played,4406278,38,"{'3173': {'scoreET': 0, 'coachId': 251044, 'si...",181248,2018-05-20 16:00:00,3173,NaN,2576329,"Cagliari - Atalanta, 1 - 0",...,away,3172,0,0,1,"{'bench': [{'playerId': 418317, 'ownGoals': '0...",0,"[{'playerId': 418317, 'ownGoals': '0', 'redCar...","[{'playerId': 295176, 'ownGoals': '0', 'redCar...","[{'playerIn': 405597, 'playerOut': 295176, 'mi..."
3,Played,4406278,38,"{'3165': {'scoreET': 0, 'coachId': 272970, 'si...",181248,2018-05-20 16:00:00,3165,NaN,2576330,"Chievo - Benevento, 1 - 0",...,away,3219,0,0,1,"{'bench': [{'playerId': 531179, 'ownGoals': '0...",0,"[{'playerId': 531179, 'ownGoals': '0', 'redCar...","[{'playerId': 256478, 'ownGoals': '0', 'redCar...","[{'playerIn': 564512, 'playerOut': 256478, 'mi..."
4,Played,4406278,38,"{'3166': {'scoreET': 0, 'coachId': 20481, 'sid...",181248,2018-05-20 16:00:00,3163,NaN,2576331,"Udinese - Bologna, 1 - 0",...,home,3163,1,0,1,"{'bench': [{'playerId': 24024, 'ownGoals': '0'...",1,"[{'playerId': 24024, 'ownGoals': '0', 'redCard...","[{'playerId': 333913, 'ownGoals': '0', 'redCar...","[{'playerIn': 234533, 'playerOut': 333913, 'mi..."

In [99]:
match_ITA_config = nomalize_matchTeams(match_ITA_df)

team_coach_map = match_ITA_config[match_ITA_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_ITA_config['coachID'] = match_ITA_config.apply(fill_coach, axis=1)


output_path_match_ITA = os.path.join(path_, 'MATCHTEAMS_ITA.csv')
match_ITA_config.to_csv(output_path_match_ITA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ITA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_ITA.csv

In [100]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_ITA_config[match_ITA_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams Spain

In [101]:
match_ESP_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_Spain.csv"
match_ESP_df = pd.read_csv(match_ESP_path)
match_ESP_df.head()

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4406122,38,"{'676': {'scoreET': 0, 'coachId': 92894, 'side...",181144,2018-05-20 18:45:00,676,Camp Nou,2565922,"Barcelona - Real Sociedad, 1 - 0",...,away,687,0,0,1,"{'bench': [{'playerId': 3677, 'ownGoals': '0',...",0,"[{'playerId': 3677, 'ownGoals': '0', 'redCards...","[{'playerId': 261127, 'ownGoals': '2', 'redCar...","[{'playerIn': 3282, 'playerOut': 261127, 'minu..."
1,Played,4406122,38,"{'679': {'scoreET': 0, 'coachId': 3427, 'side'...",181144,2018-05-20 16:30:00,0,Estadio Wanda Metropolitano,2565925,"Atl\u00e9tico Madrid - Eibar, 2 - 2",...,away,701,2,0,1,"{'bench': [{'playerId': 4094, 'ownGoals': '0',...",1,"[{'playerId': 4094, 'ownGoals': '0', 'redCards...","[{'playerId': 4180, 'ownGoals': '0', 'redCards...","[{'playerIn': 4805, 'playerOut': 4180, 'minute..."
2,Played,4406122,38,"{'691': {'scoreET': 0, 'coachId': 444778, 'sid...",181144,2018-05-20 14:15:00,691,San Mam\u00e9s Barria,2565919,"Athletic Club - Espanyol, 0 - 1",...,home,678,0,0,1,"{'bench': [{'playerId': 4476, 'ownGoals': '0',...",0,"[{'playerId': 4476, 'ownGoals': '0', 'redCards...","[{'playerId': 286963, 'ownGoals': '0', 'redCar...","[{'playerIn': 3414, 'playerOut': 286963, 'minu..."
3,Played,4406122,38,"{'674': {'scoreET': 0, 'coachId': 210074, 'sid...",181144,2018-05-20 10:00:00,674,Estadio de Mestalla,2565924,"Valencia - Deportivo La Coru\u00f1a, 2 - 1",...,away,677,1,0,1,"{'bench': [{'playerId': 364005, 'ownGoals': '0...",0,"[{'playerId': 364005, 'ownGoals': '0', 'redCar...","[{'playerId': 239843, 'ownGoals': '0', 'redCar...","[{'playerIn': 105541, 'playerOut': 239843, 'mi..."
4,Played,4406122,38,"{'675': {'scoreET': 0, 'coachId': 275283, 'sid...",181144,2018-05-19 18:45:00,0,Estadio de la Cer\u00e1mica,2565927,"Villarreal - Real Madrid, 2 - 2",...,home,682,2,0,1,"{'bench': [{'playerId': 3534, 'ownGoals': '0',...",0,"[{'playerId': 3534, 'ownGoals': '0', 'redCards...","[{'playerId': 4332, 'ownGoals': '2', 'redCards...","[{'playerIn': 122832, 'playerOut': 4332, 'minu..."

In [102]:
match_ESP_config = nomalize_matchTeams(match_ESP_df)

team_coach_map = match_ESP_config[match_ESP_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_ESP_config['coachID'] = match_ESP_config.apply(fill_coach, axis=1)


output_path_match_ESP = os.path.join(path_, 'MATCHTEAMS_ESP.csv')
match_ESP_config.to_csv(output_path_match_ESP, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ESP}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_ESP.csv

In [103]:
# Các teamID còn coachID = 0 sau khi điền
missing_coach = match_ESP_config[match_ESP_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

##### MatchTeams WC

In [104]:
match_WC_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_World_Cup.csv"
match_WC_df = pd.read_csv(match_WC_path)
match_WC_df.head()

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,...,team2.side,team2.teamId,team2.score,team2.scoreP,team2.hasFormation,team2.formation,team2.scoreHT,team2.formation.bench,team2.formation.lineup,team2.formation.substitutions
0,Played,4165368,0,"{'9598': {'scoreET': 0, 'coachId': 122788, 'si...",10078,2018-07-15 15:00:00,4418,Olimpiyskiy stadion Luzhniki,2058017,"France - Croatia, 4 - 2",...,home,4418,4,0,1,"{'bench': [{'playerId': 25418, 'assists': '0',...",2,"[{'playerId': 25418, 'assists': '0', 'goals': ...","[{'playerId': 31528, 'assists': '0', 'goals': ...","[{'playerIn': 8200, 'assists': '0', 'playerOut..."
1,Played,4165367,0,"{'2413': {'scoreET': 0, 'coachId': 276858, 'si...",10078,2018-07-14 14:00:00,5629,Stadion Krestovskyi,2058016,"Belgium - England, 2 - 0",...,home,5629,2,0,1,"{'bench': [{'playerId': 134769, 'assists': '0'...",1,"[{'playerId': 134769, 'assists': '0', 'goals':...","[{'playerId': 261, 'assists': '1', 'goals': '0...","[{'playerIn': 7860, 'assists': '0', 'playerOut..."
2,Played,4165366,0,"{'2413': {'scoreET': 1, 'coachId': 276858, 'si...",10078,2018-07-11 18:00:00,9598,Olimpiyskiy stadion Luzhniki,2058015,"Croatia - England, 2 - 1 (E)",...,away,2413,1,0,1,"{'bench': [{'playerId': 7918, 'assists': '0', ...",1,"[{'playerId': 7918, 'assists': '0', 'goals': '...","[{'playerId': 11066, 'assists': '0', 'goals': ...","[{'playerIn': 397178, 'assists': '0', 'playerO..."
3,Played,4165366,0,"{'5629': {'scoreET': 0, 'coachId': 8605, 'side...",10078,2018-07-10 18:00:00,4418,Stadion Krestovskyi,2058014,"France - Belgium, 1 - 0",...,away,5629,0,0,1,"{'bench': [{'playerId': 8034, 'assists': '0', ...",0,"[{'playerId': 8034, 'assists': '0', 'goals': '...","[{'playerId': 11152, 'assists': '0', 'goals': ...","[{'playerIn': 122, 'assists': '0', 'playerOut'..."
4,Played,4165365,0,"{'14358': {'scoreET': 2, 'coachId': 264893, 's...",10078,2018-07-07 18:00:00,9598,Olimpiyskiy Stadion Fisht,2058012,"Russia - Croatia, 2 - 2 (P)",...,home,14358,1,3,1,"{'bench': [{'playerId': 101834, 'assists': '0'...",1,"[{'playerId': 101834, 'assists': '0', 'goals':...","[{'playerId': 101699, 'assists': '0', 'goals':...","[{'playerIn': 101953, 'assists': '0', 'playerO..."

In [105]:
match_WC_config = nomalize_matchTeams(match_WC_df)

team_coach_map = match_WC_config[match_WC_config['coachID'] != 0].groupby('teamID')['coachID'].first().to_dict()

# Điền coachID = 0 bằng giá trị hợp lệ từ cùng teamID
def fill_coach(row):
    if row['coachID'] == 0:
        return team_coach_map.get(row['teamID'], 0)  # nếu không tìm thấy vẫn để 0
    return row['coachID']

match_WC_config['coachID'] = match_WC_config.apply(fill_coach, axis=1)


output_path_match_WC = os.path.join(path_, 'MATCHTEAMS_WC.csv')
match_WC_config.to_csv(output_path_match_WC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_WC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_WC.csv

In [106]:
missing_coach = match_WC_config[match_WC_config['coachID'] == 0]['teamID'].unique()
print("Các teamID vẫn còn coachID = 0:", missing_coach)

Các teamID vẫn còn coachID = 0: []

#### TABLE MATCHES

In [73]:
def normalize_matches(df):

    df_matches = df[['wyId', 'venue', 'winner', 'dateutc', 'label', 'competitionId']]


    df_matches.rename(columns={
        'wyId': 'matchID',
        'venue': 'venueName',
        'winner': 'winner',
        'dateutc': 'matchDate',
        'label': 'label',
        'competitionId': 'competitionID'
    }, inplace=True)

    df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

    return df_matches

##### Matches England

In [91]:
matches_EN_config = normalize_matches(match_EN_df)
output_path_matches_EN = os.path.join(path_, "matches_EN_config.csv")
matches_EN_config.to_csv(output_path_matches_EN, index=False, encoding='utf-8-sig')
print(f"File Auto Saved! {output_path_matches_EN}")

File Auto Saved! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_EN_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches European Championship

In [92]:
match_EUC_config = normalize_matches(match_EUC_df)
output_path_matches_EUC = os.path.join(path_, 'matches_EUC_config.csv')
match_EUC_config.to_csv(output_path_matches_EUC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_EUC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_EUC_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches France

In [93]:
match_FRA_config = normalize_matches(match_FRA_df)
output_path_matches_FRA = os.path.join(path_, 'matches_FRA_config.csv')
match_FRA_config.to_csv(output_path_matches_FRA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_FRA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_FRA_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches Germany

In [94]:
match_DEU_config = normalize_matches(match_DEU_df)
output_path_matches_DEU = os.path.join(path_, 'matches_DEU_config.csv')
match_DEU_config.to_csv(output_path_matches_DEU, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_DEU}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_DEU_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches Italy

In [95]:
match_ITA_config = normalize_matches(match_ITA_df)
output_path_matches_ITA = os.path.join(path_, 'matches_ITA_config.csv')
match_ITA_config.to_csv(output_path_matches_ITA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_ITA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_ITA_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches Spain

In [96]:
match_ESP_config = normalize_matches(match_ESP_df)
output_path_matches_ESP = os.path.join(path_, 'matches_ESP_config.csv')
match_ESP_config.to_csv(output_path_matches_ESP, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_ESP}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_ESP_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

##### Matches World Cup

In [97]:
match_WC_config = normalize_matches(match_WC_df)
output_path_matches_WC = os.path.join(path_, 'matches_WC_config.csv')
match_WC_config.to_csv(output_path_matches_WC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matches_WC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matches_WC_config.csv

/tmp/ipykernel_868/2202647190.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches.rename(columns={
/tmp/ipykernel_868/2202647190.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['matchDate'] = pd.to_datetime(df_matches['matchDate'], errors='coerce').dt.date

#### TABLE MATCHREFEREES

In [98]:
def normalize_match_referees(df):
    referees_rows =[]

    for _, row in df.iterrows():
        match_id = row.get('wyId') or row.get('matchId')
        referees_data = row.get('referees', None)

        if referees_data is None or (isinstance(referees_data, float) and pd.isna(referees_data)):
            continue

        try:
            if isinstance(referees_data, str):
                if referees_data.strip() in ['', '[]', 'None']:
                    continue
                referees = ast.literal_eval(referees_data)
            else:
                referees = referees_data
        except Exception:
            continue
        
        if not isinstance(referees, (list, tuple)) or len(referees) == 0:
            continue

        for ref in referees:
            if not isinstance(ref, dict):
                continue


            referee_id = ref.get('refereeId') or ref.get('id')
            role = ref.get('role') or ref.get('Rrole')

            if referee_id is None or role is None:
                continue
            
            referees_rows.append({
                'matchID': match_id,
                'refereeID': referee_id,
                'Rrole': role
            })

    return pd.DataFrame(referees_rows)

##### Match Referees England

In [99]:
match_ref_EN_config = normalize_match_referees(match_EN_df)
output_path_match_ref_EN = os.path.join(path_, 'matchReferees_EN_config.csv')
match_ref_EN_config.to_csv(output_path_match_ref_EN, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_EN}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_EN_config.csv

##### Match Referees European_Championship

In [100]:
match_ref_EUC_config = normalize_match_referees(match_EUC_df)
output_path_match_ref_EUC = os.path.join(path_, 'matchReferees_EUC_config.csv')
match_ref_EUC_config.to_csv(output_path_match_ref_EUC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_EUC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_EUC_config.csv

##### Match Referees France

In [101]:
match_ref_FRA_config = normalize_match_referees(match_FRA_df)
output_path_match_ref_FRA = os.path.join(path_, 'matchReferees_FRA_config.csv')
match_ref_FRA_config.to_csv(output_path_match_ref_FRA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_FRA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_FRA_config.csv

##### Match Referees Germany

In [102]:
match_ref_DEU_config = normalize_match_referees(match_DEU_df)
output_path_match_ref_DEU = os.path.join(path_, 'matchReferees_DEU_config.csv')
match_ref_DEU_config.to_csv(output_path_match_ref_DEU, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_DEU}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_DEU_config.csv

##### Match Referees Italy

In [103]:
match_ref_ITA_config = normalize_match_referees(match_ITA_df)
output_path_match_ref_ITA = os.path.join(path_, 'matchReferees_ITA_config.csv')
match_ref_ITA_config.to_csv(output_path_match_ref_ITA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_ITA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_ITA_config.csv

##### Match Referees Spain

In [104]:
match_ref_ESP_config = normalize_match_referees(match_ESP_df)
output_path_match_ref_ESP = os.path.join(path_, 'matchReferees_ESP_config.csv')
match_ref_ESP_config.to_csv(output_path_match_ref_ESP, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_ESP}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_ESP_config.csv

##### Match Referees World Cup

In [105]:
match_ref_WC_config = normalize_match_referees(match_WC_df)
output_path_match_ref_WC = os.path.join(path_, 'matchReferees_WC_config.csv')
match_ref_WC_config.to_csv(output_path_match_ref_WC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_match_ref_WC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/matchReferees_WC_config.csv

#### TABLE REFEREES

In [19]:
referees_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/referees.csv"

ref_df = pd.read_csv(referees_path)
ref_df.head()

,wyId,shortName,firstName,middleName,lastName,birthDate,birthArea.id,birthArea.alpha2code,birthArea.alpha3code,birthArea.name,passportArea.id,passportArea.alpha2code,passportArea.alpha3code,passportArea.name
0,378217,A. Guzmán,Alexander,NaN,Guzmán Bonilla,NaN,170,CO,COL,Colombia,170,CO,COL,Colombia
1,385011,S. Bennett,Simon,NaN,Bennett,NaN,826,EN,XEN,England,826,EN,XEN,England
2,385544,H. Osmers,Harm,NaN,Osmers,1985-01-28,276,DE,DEU,Germany,276,DE,DEU,Germany
3,383894,F. Assmuth,Frederick,NaN,Assmuth,1977-12-20,276,DE,DEU,Germany,276,DE,DEU,Germany
4,385800,F. Hebrard,Frédéric,NaN,Hebrard,NaN,250,FR,FRA,France,250,FR,FRA,France

##### Table Areas

In [114]:
# Lấy dữ liệu từ birthArea
birth_areas = ref_df[[
    "birthArea.id", "birthArea.name",
    "birthArea.alpha2code", "birthArea.alpha3code"
]].rename(columns={
    "birthArea.id": "areaID",
    "birthArea.name": "nameArea",
    "birthArea.alpha2code": "alpha2code",
    "birthArea.alpha3code": "alpha3code"
})

# Lấy dữ liệu từ passportArea
passport_areas = ref_df[[
    "passportArea.id", "passportArea.name",
    "passportArea.alpha2code", "passportArea.alpha3code"
]].rename(columns={
    "passportArea.id": "areaID",
    "passportArea.name": "nameArea",
    "passportArea.alpha2code": "alpha2code",
    "passportArea.alpha3code": "alpha3code"
})

# Gộp 2 bảng và loại bỏ trùng lặp
df_ref_areas = pd.concat([birth_areas, passport_areas], ignore_index=True)
df_ref_areas.drop_duplicates(subset=["areaID"], inplace=True)

# Sắp xếp theo areaID (tùy chọn)
df_ref_areas.sort_values(by="areaID", inplace=True)

##### Table Referees

In [20]:
def extract_referees(df, offset = 1000000):
    ref_rows = []

    for _, row in df.iterrows():
        referee_id = row.get("wyId")
        Sname = row.get("shortName")
        Fname = row.get("firstName")
        Mname = row.get("middleName")
        Lname = row.get("lastName")
        birthDate = row.get("birthDate")

        person_id = referee_id + offset if referee_id is not None else None

        ref_rows.append({
            "refereeID": referee_id,
            "personID": person_id,
            "Fname": Fname,
            "Mname": Mname,
            "Lname": Lname,
            "Sname": Sname,
            "birthDate": birthDate
        })

    return pd.DataFrame(ref_rows)

In [21]:
df_referees_config = extract_referees(ref_df, offset=1000000)
output_path_referees_config = os.path.join(path_, 'referees_config.csv')
df_referees_config.to_csv(output_path_referees_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_referees_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/referees_config.csv

#### TABLE AREAS

In [115]:

def extract_unique_areas(df, cols=['passportArea', 'birthArea']):
    area_rows = []

    for col in cols:
        for area_str in df[col]:
            if isinstance(area_str, str):
                try:
                    area_dict = ast.literal_eval(area_str)
                    area_id = int(area_dict.get('id', 0))
                    name_area = area_dict.get('name', '')
                    alpha2 = area_dict.get('alpha2code', '')
                    alpha3 = area_dict.get('alpha3code', '')

                    area_rows.append({
                        'areaID': area_id,
                        'nameArea': name_area,
                        'alpha2code': alpha2,
                        'alpha3code': alpha3
                    })
                except:
                    continue

    # Chuyển sang DataFrame và loại bỏ trùng lặp theo areaID
    df_areas = pd.DataFrame(area_rows).drop_duplicates(subset='areaID').reset_index(drop=True)
    return df_areas

In [117]:
# Áp dụng hàm
df_areas = extract_unique_areas(players_df, cols=['passportArea', 'birthArea'])

# Kiểm tra số lượng unique areaID
print("Số lượng areaID unique:", df_areas['areaID'].nunique())

Số lượng areaID unique: 141

#### TABLE COACHES

In [108]:
coach_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/coaches_config.csv"

coach_df = pd.read_csv(coach_path)
coach_df.head()

,coachID,personID,Fname,Mname,Lname,Sname,birthDate,currentTeamID
0,275580,2275580,César Domingo,NaN,Mendiondo López,Cesar Domingo,NaN,0
1,14710,2014710,Josef,NaN,Heynckes,J. Heynckes,1945-05-09,0
2,135480,2135480,Giovanni,NaN,De Biasi,G. De Biasi,1956-06-16,0
3,210074,2210074,Marcelino,NaN,García Toral,Marcelino,1965-08-14,674
4,293398,2293398,Tayfun,NaN,Korkut,T. Korkut,1974-04-02,0

##### Table Areas

In [120]:
# Áp dụng hàm
df_coach_areas = extract_unique_areas(coach_df, cols=['passportArea', 'birthArea'])

# Kiểm tra số lượng unique areaID
print("Số lượng areaID unique:", df_coach_areas['areaID'].nunique())

Số lượng areaID unique: 43

In [121]:
# Kiểm tra số lượng areaID unique trong từng file
print("Số lượng areaID unique df1:", df_areas['areaID'].nunique())
print("Số lượng areaID unique df2:", df_coach_areas['areaID'].nunique())

# Kiểm tra các areaID có trùng nhau giữa hai file
common_ids = pd.merge(df_areas[['areaID']], df_coach_areas[['areaID']], on='areaID', how='inner')
print("Số lượng areaID trùng giữa 2 file:", len(common_ids))

# Gộp 2 DataFrame và loại bỏ trùng lặp
df_areas_combined = pd.concat([df_areas, df_coach_areas]).drop_duplicates(subset='areaID').reset_index(drop=True)
print("Số lượng areaID unique sau khi gộp:", df_areas_combined['areaID'].nunique())

Số lượng areaID unique df1: 141
Số lượng areaID unique df2: 43
Số lượng areaID trùng giữa 2 file: 39
Số lượng areaID unique sau khi gộp: 145

In [122]:
# Kiểm tra số lượng areaID unique trong từng file
print("Số lượng areaID unique df1:", df_ref_areas['areaID'].nunique())
print("Số lượng areaID unique df2:", df_areas_combined['areaID'].nunique())

# Kiểm tra các areaID có trùng nhau giữa hai file
common_ids = pd.merge(df_ref_areas[['areaID']], df_areas_combined[['areaID']], on='areaID', how='inner')
print("Số lượng areaID trùng giữa 2 file:", len(common_ids))

# Gộp 2 DataFrame và loại bỏ trùng lặp
df_areas_combinedd = pd.concat([df_ref_areas, df_areas_combined]).drop_duplicates(subset='areaID').reset_index(drop=True)
print("Số lượng areaID unique sau khi gộp:", df_areas_combinedd['areaID'].nunique())

Số lượng areaID unique df1: 58
Số lượng areaID unique df2: 145
Số lượng areaID trùng giữa 2 file: 52
Số lượng areaID unique sau khi gộp: 151

In [126]:
df_areas_combinedd.head(10)

   areaID   nameArea alpha2code alpha3code
0      12    Algeria         DZ        DZA
1      24     Angola         AO        AGO
2      32  Argentina         AR        ARG
3      48    Bahrain         BH        BHR
4      56    Belgium         BE        BEL
5      76     Brazil         BR        BRA
6     108    Burundi         BI        BDI
7     112    Belarus         BY        BLR
8     124     Canada         CA        CAN
9     152      Chile         CL        CHL

In [124]:
df_areas_combinedd = df_areas_combinedd.drop(index=0).reset_index(drop=True)

In [127]:
output_path_AREAS = os.path.join(path_, 'areas_config.csv')
df_areas_combinedd.to_csv(output_path_AREAS, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_AREAS}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/areas_config.csv

##### Table Coaches

In [4]:
def extract_coaches(df, offset=2000000):
    coach_rows = []

    for _, row in df.iterrows():
        coach_id = row.get("wyId")
        Sname = row.get("shortName")
        Fname = row.get("firstName")
        Mname = row.get("middleName")
        Lname = row.get("lastName")
        birthDate = row.get("birthDate")
        currentTeam_id  = row.get("currentTeamId")

        person_id = coach_id + offset if coach_id is not None else None

        coach_rows.append({
            "coachID": coach_id,
            "personID": person_id,
            "Fname": Fname,
            "Mname": Mname,
            "Lname": Lname,
            "Sname": Sname,
            "birthDate": birthDate,
            "currentTeamID": currentTeam_id
        })

    return pd.DataFrame(coach_rows)

In [5]:
df_coach_config = extract_coaches(coach_df, offset=2000000)
output_path_coach_config = os.path.join(path_, 'coaches_config.csv')
df_coach_config.to_csv(output_path_coach_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_coach_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/coaches_config.csv

#### TABLE PERSONS

##### players Persons

In [44]:
path_player_config = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/players_config.csv"

df_personPlayers = pd.read_csv(path_player_config)

df_personPlayers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   passportArea           3603 non-null   int64
 1   weight                 3603 non-null   int64
 2   firstName              3603 non-null   object
 3   middleName             0 non-null      float64
 4   lastName               3603 non-null   object
 5   currentTeamId          3468 non-null   float64
 6   birthDate              3603 non-null   object
 7   height                 3603 non-null   int64
 8   role                   3603 non-null   object
 9   birthArea              3603 non-null   int64
 10  wyId                   3603 non-null   int64
 11  foot                   3551 non-null   object
 12  shortName              3603 non-null   object
 13  currentNationalTeamId  1357 non-null   float64
dtypes: float64(3), int64(5), object(6)
memory usage: 394.2+ KB

In [45]:
def extract_person_players(df):
    person_players=[]

    for _, row in df.iterrows():
        source_id = row.get("wyId")

        if pd.isna(source_id):
            continue

        person_id = int(source_id)

        person_players.append({
            "personID": person_id,
            "ownerType": "player",
            "birthAreaID": row["birthArea"],
            "passportAreaID": row["passportArea"]
        })
    
    return pd.DataFrame(person_players)

In [46]:
person_players = extract_person_players(df_personPlayers)
person_players.head(10)

   personID ownerType  birthAreaID  passportAreaID
0     32777    player          792             792
1    393228    player          250             686
2    393230    player          250             250
3     32793    player          250             686
4    393247    player          250             250
5        33    player          528             528
6        36    player           56              56
7        48    player           56              56
8    229427    player          250             250
9        54    player          208             208

In [47]:
person_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3603 entries, 0 to 3602
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   personID        3603 non-null   int64
 1   ownerType       3603 non-null   object
 2   birthAreaID     3603 non-null   int64
 3   passportAreaID  3603 non-null   int64
dtypes: int64(3), object(1)
memory usage: 112.7+ KB

##### Person Referees

In [41]:
PerReferees = ref_df
PerReferees.head()

,wyId,shortName,firstName,middleName,lastName,birthDate,birthArea.id,birthArea.alpha2code,birthArea.alpha3code,birthArea.name,passportArea.id,passportArea.alpha2code,passportArea.alpha3code,passportArea.name
0,378217,A. Guzmán,Alexander,NaN,Guzmán Bonilla,NaN,170,CO,COL,Colombia,170,CO,COL,Colombia
1,385011,S. Bennett,Simon,NaN,Bennett,NaN,826,EN,XEN,England,826,EN,XEN,England
2,385544,H. Osmers,Harm,NaN,Osmers,1985-01-28,276,DE,DEU,Germany,276,DE,DEU,Germany
3,383894,F. Assmuth,Frederick,NaN,Assmuth,1977-12-20,276,DE,DEU,Germany,276,DE,DEU,Germany
4,385800,F. Hebrard,Frédéric,NaN,Hebrard,NaN,250,FR,FRA,France,250,FR,FRA,France

In [48]:
def extract_person_referees(df, offset, owner):
    person_players=[]

    for _, row in df.iterrows():
        source_id = row.get("wyId")

        if pd.isna(source_id):
            continue

        person_id = int(source_id) + offset

        person_players.append({
            "personID": person_id,
            "ownerType": owner,
            "birthAreaID": row["birthArea.id"],
            "passportAreaID": row["passportArea.id"]
        })
    
    return pd.DataFrame(person_players)

In [60]:
person_referees = extract_person_referees(PerReferees, offset=1000000, owner="referee")
person_referees.head(10)

   personID ownerType  birthAreaID  passportAreaID
0   1378217   referee          170             170
1   1385011   referee          826             826
2   1385544   referee          276             276
3   1383894   referee          276             276
4   1385800   referee          250             250
5   1385015   referee          724             724
6   1395082   referee          724             724
7   1395056   referee          724             724
8   1380678   referee          634             634
9   1381835   referee          276             276

In [50]:
person_referees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626 entries, 0 to 625
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   personID        626 non-null    int64
 1   ownerType       626 non-null    object
 2   birthAreaID     626 non-null    int64
 3   passportAreaID  626 non-null    int64
dtypes: int64(3), object(1)
memory usage: 19.7+ KB

##### Person Coaches

In [55]:
person_coaches = coach_df
person_coaches.head()

,wyId,shortName,firstName,middleName,lastName,birthDate,birthArea,passportArea,currentTeamId
0,275580,Cesar Domingo,César Domingo,NaN,Mendiondo López,NaN,"{'id': 76, 'alpha2code': 'BR', 'alpha3code': '...","{'id': 76, 'alpha2code': 'BR', 'alpha3code': '...",0
1,14710,J. Heynckes,Josef,NaN,Heynckes,1945-05-09,"{'id': 276, 'alpha2code': 'DE', 'alpha3code': ...","{'id': 276, 'alpha2code': 'DE', 'alpha3code': ...",0
2,135480,G. De Biasi,Giovanni,NaN,De Biasi,1956-06-16,"{'id': 380, 'alpha2code': 'IT', 'alpha3code': ...","{'id': 380, 'alpha2code': 'IT', 'alpha3code': ...",0
3,210074,Marcelino,Marcelino,NaN,García Toral,1965-08-14,"{'id': 724, 'alpha2code': 'ES', 'alpha3code': ...","{'id': 724, 'alpha2code': 'ES', 'alpha3code': ...",674
4,293398,T. Korkut,Tayfun,NaN,Korkut,1974-04-02,"{'id': 276, 'alpha2code': 'DE', 'alpha3code': ...","{'id': 792, 'alpha2code': 'TR', 'alpha3code': ...",0

In [56]:
def parse_area(area):
    if pd.isna(area):
        return None
    if isinstance(area, dict):
        return area
    try:
        return ast.literal_eval(area)
    except:
        return None


def extract_person_coaches(df, offset = 2000000):
    person_coaches = []

    df["birthArea_parsed"] = df["birthArea"].apply(parse_area)
    df["passportArea_parsed"] = df["passportArea"].apply(parse_area)

    df["birthAreaID"] = df["birthArea_parsed"].apply(lambda x: x["id"] if isinstance(x, dict) else None)
    df["passportAreaID"] = df["passportArea_parsed"].apply(lambda x: x["id"] if isinstance(x, dict) else None)

    person_coaches = pd.DataFrame({
        "personID": df["wyId"] + offset,
        "ownerType": "coach",
        "birthAreaID": df["birthAreaID"],
        "passportAreaID": df["passportAreaID"]        
    })

    return person_coaches

In [57]:
person_coaches = extract_person_coaches(person_coaches, offset=2000000)
person_coaches.head(10)

   personID ownerType  birthAreaID  passportAreaID
0   2275580     coach           76              76
1   2014710     coach          276             276
2   2135480     coach          380             380
3   2210074     coach          724             724
4   2293398     coach          276             792
5   2092894     coach          724             724
6   2003880     coach          724             724
7   2017121     coach          276             276
8   2020454     coach          380             380
9   2086604     coach           32              32

In [59]:
person_coaches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   personID        208 non-null    int64
 1   ownerType       208 non-null    object
 2   birthAreaID     208 non-null    int64
 3   passportAreaID  208 non-null    int64
dtypes: int64(3), object(1)
memory usage: 6.6+ KB

##### Merge Persons

In [62]:
def merge_person_table(person_players, person_referees, person_coaches):
    persons = pd.concat(
        [person_players, person_referees, person_coaches],
        axis=0,
        ignore_index=True
    )

    return persons

In [63]:
persons = merge_person_table(person_players, person_referees, person_coaches)

In [80]:
persons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4437 entries, 0 to 4436
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   personID        4437 non-null   int64
 1   ownerType       4437 non-null   object
 2   birthAreaID     4437 non-null   int64
 3   passportAreaID  4437 non-null   int64
dtypes: int64(3), object(1)
memory usage: 138.8+ KB

In [81]:
persons.sort_values(by="passportAreaID").reset_index(drop=True).head(-30)

      personID ownerType  birthAreaID  passportAreaID
0      1495428   referee          380               0
1       263614    player          276               4
2        21001    player            8               8
3        93608    player            8               8
4        22323    player            8               8
...        ...       ...          ...             ...
4402   2116503     coach          858             858
4403    286448    player          858             858
4404    292991    player          858             858
4405     70116    player          858             858
4406   2009092     coach          858             858

[4407 rows x 4 columns]

In [82]:
output_path_persons = os.path.join(path_, "persons_config.csv")
persons.to_csv(output_path_persons, index=False, encoding='utf-8-sig')
print(f"File Auto Saved! {output_path_persons}")

File Auto Saved! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/persons_config.csv

#### TABLE EVENTS

In [125]:
offset_map = {
    "England" : 0,
    "European_Championship": 700000,
    "France": 800000,
    "Germany": 1500000,
    "Italy": 2100000,
    "Spain": 2800000,
    "World_Cup": 3500000
}

In [126]:
def parse_tags(tag_str):
    if pd.isna(tag_str):
        return []

    # Nếu input đã là list
    if isinstance(tag_str, list):
        # bóc id nếu là dict
        return [t["id"] if isinstance(t, dict) else t for t in tag_str]

    try:
        tags = ast.literal_eval(tag_str)

        # tags có thể là list các dict → bóc id
        return [t["id"] if isinstance(t, dict) else t for t in tags]
    except:
        return []

In [127]:
def split_events_tags(df, league_name):
    offset = offset_map.get(league_name, 0)

    df['tags_parsed'] = df['tags'].apply(parse_tags)
    df["eventRecordID"] = df.index + 1 + offset

    events_df =df.drop(columns=["eventId", "tags", "subEventName", "positions", "eventName", "id"], errors="ignore")

    eventtag_rows = []

    for _, row in df.iterrows():
        event_id = row["eventRecordID"]
        for tag_id in row["tags_parsed"]:
                eventtag_rows.append({
                    "eventRecordID": event_id,
                    "tagID": tag_id
                })
    
    eventtags_df = pd.DataFrame(eventtag_rows)
    
    return events_df, eventtags_df

##### events England

In [128]:
EN_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_England.csv"
events_EN_df = pd.read_csv(EN_path)
events_EN_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643090 entries, 0 to 643089
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       643090 non-null  int64
 1   subEventName  641532 non-null  object
 2   tags          643090 non-null  object
 3   playerId      643090 non-null  int64
 4   positions     643090 non-null  object
 5   matchId       643090 non-null  int64
 6   eventName     643090 non-null  object
 7   teamId        643090 non-null  int64
 8   matchPeriod   643090 non-null  object
 9   eventSec      643090 non-null  float64
 10  subEventId    641532 non-null  float64
 11  id            643090 non-null  int64
 12  tagsList      581615 non-null  object
 13  pos_orig_y    643090 non-null  int64
 14  pos_orig_x    643090 non-null  int64
 15  pos_dest_y    643090 non-null  int64
 16  pos_dest_x    643090 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 83.4+ MB

In [129]:
events_EN_config, eventtags_EN_config = split_events_tags(events_EN_df, "England")

In [130]:
eventtags_EN_config.head()

   eventRecordID  tagID
0              1   1801
1              2   1801
2              3   1801
3              4   1801
4              5   1801

In [131]:
print(events_EN_config.info())
print(eventtags_EN_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643090 entries, 0 to 643089
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       643090 non-null  int64
 1   matchId        643090 non-null  int64
 2   teamId         643090 non-null  int64
 3   matchPeriod    643090 non-null  object
 4   eventSec       643090 non-null  float64
 5   subEventId     641532 non-null  float64
 6   tagsList       581615 non-null  object
 7   pos_orig_y     643090 non-null  int64
 8   pos_orig_x     643090 non-null  int64
 9   pos_dest_y     643090 non-null  int64
 10  pos_dest_x     643090 non-null  int64
 11  tags_parsed    643090 non-null  object
 12  eventRecordID  643090 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 63.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910051 entries, 0 to 910050
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  910051 non-null  int64
 1   tagID          910051 non-null  int64
dtypes: int64(2)
memory usage: 13.9 MB
None

##### Save File England

In [132]:
output_path_events_EN = os.path.join(path_, 'events_EN_config.csv')
events_EN_config.to_csv(output_path_events_EN, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_EN}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_EN_config.csv

In [133]:
output_path_eventtags_EN = os.path.join(path_, 'eventtags_EN_config.csv')
eventtags_EN_config.to_csv(output_path_eventtags_EN, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_EN}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_EN_config.csv

##### events European Championship

In [134]:
EUC_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_European_Championship.csv"
events_EUC_df = pd.read_csv(EUC_path)
events_EUC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78125 entries, 0 to 78124
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   eventId       78125 non-null  int64
 1   subEventName  77937 non-null  object
 2   tags          78125 non-null  object
 3   playerId      78125 non-null  int64
 4   positions     78125 non-null  object
 5   matchId       78125 non-null  int64
 6   eventName     78125 non-null  object
 7   teamId        78125 non-null  int64
 8   matchPeriod   78125 non-null  object
 9   eventSec      78125 non-null  float64
 10  subEventId    77937 non-null  float64
 11  id            78125 non-null  int64
 12  tagsList      74737 non-null  object
 13  pos_orig_y    78125 non-null  int64
 14  pos_orig_x    78125 non-null  int64
 15  pos_dest_y    78125 non-null  int64
 16  pos_dest_x    78125 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 10.1+ MB

In [135]:
events_EUC_config, eventtags_EUC_config = split_events_tags(events_EUC_df, "European_Championship")

In [136]:
print(events_EUC_config.info())
print(eventtags_EUC_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78125 entries, 0 to 78124
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   playerId       78125 non-null  int64
 1   matchId        78125 non-null  int64
 2   teamId         78125 non-null  int64
 3   matchPeriod    78125 non-null  object
 4   eventSec       78125 non-null  float64
 5   subEventId     77937 non-null  float64
 6   tagsList       74737 non-null  object
 7   pos_orig_y     78125 non-null  int64
 8   pos_orig_x     78125 non-null  int64
 9   pos_dest_y     78125 non-null  int64
 10  pos_dest_x     78125 non-null  int64
 11  tags_parsed    78125 non-null  object
 12  eventRecordID  78125 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 7.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116426 entries, 0 to 116425
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  116426 non-null  int64
 1   tagID          116426 non-null  int64
dtypes: int64(2)
memory usage: 1.8 MB
None

##### Save File European Championship

In [137]:
output_path_events_EUC = os.path.join(path_, 'events_EUC_config.csv')
events_EUC_config.to_csv(output_path_events_EUC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_EUC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_EUC_config.csv

In [138]:
output_path_eventtags_EUC = os.path.join(path_, 'eventtags_EUC_config.csv')
eventtags_EUC_config.to_csv(output_path_eventtags_EUC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_EUC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_EUC_config.csv

##### events France

In [139]:
FRA_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_France.csv"
events_FRA_df = pd.read_csv(FRA_path)
events_FRA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632737 entries, 0 to 632736
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       632737 non-null  int64
 1   subEventName  631194 non-null  object
 2   tags          632737 non-null  object
 3   playerId      632737 non-null  int64
 4   positions     632737 non-null  object
 5   matchId       632737 non-null  int64
 6   eventName     632737 non-null  object
 7   teamId        632737 non-null  int64
 8   matchPeriod   632737 non-null  object
 9   eventSec      632737 non-null  float64
 10  subEventId    631194 non-null  float64
 11  id            632737 non-null  int64
 12  tagsList      568622 non-null  object
 13  pos_orig_y    632737 non-null  int64
 14  pos_orig_x    632737 non-null  int64
 15  pos_dest_y    632737 non-null  int64
 16  pos_dest_x    632737 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 82.1+ MB

In [140]:
events_FRA_config, eventtags_FRA_config = split_events_tags(events_FRA_df, "France")

In [141]:
print(events_FRA_config.info())
print(eventtags_FRA_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632737 entries, 0 to 632736
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       632737 non-null  int64
 1   matchId        632737 non-null  int64
 2   teamId         632737 non-null  int64
 3   matchPeriod    632737 non-null  object
 4   eventSec       632737 non-null  float64
 5   subEventId     631194 non-null  float64
 6   tagsList       568622 non-null  object
 7   pos_orig_y     632737 non-null  int64
 8   pos_orig_x     632737 non-null  int64
 9   pos_dest_y     632737 non-null  int64
 10  pos_dest_x     632737 non-null  int64
 11  tags_parsed    632737 non-null  object
 12  eventRecordID  632737 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 62.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892982 entries, 0 to 892981
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  892982 non-null  int64
 1   tagID          892982 non-null  int64
dtypes: int64(2)
memory usage: 13.6 MB
None

##### Save File France

In [142]:
output_path_events_FRA = os.path.join(path_, 'events_FRA_config.csv')
events_FRA_config.to_csv(output_path_events_FRA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_FRA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_FRA_config.csv

In [143]:
output_path_eventtags_FRA = os.path.join(path_, 'eventtags_FRA_config.csv')
eventtags_FRA_config.to_csv(output_path_eventtags_FRA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_FRA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_FRA_config.csv

##### events Germany

In [144]:
GER_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_Germany.csv"
events_GER_df = pd.read_csv(GER_path)
events_GER_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519357 entries, 0 to 519356
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       519357 non-null  int64
 1   subEventName  518138 non-null  object
 2   tags          519357 non-null  object
 3   playerId      519357 non-null  int64
 4   positions     519357 non-null  object
 5   matchId       519357 non-null  int64
 6   eventName     519357 non-null  object
 7   teamId        519357 non-null  int64
 8   matchPeriod   519357 non-null  object
 9   eventSec      519357 non-null  float64
 10  subEventId    518138 non-null  float64
 11  id            519357 non-null  int64
 12  tagsList      468651 non-null  object
 13  pos_orig_y    519357 non-null  int64
 14  pos_orig_x    519357 non-null  int64
 15  pos_dest_y    519357 non-null  int64
 16  pos_dest_x    519357 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 67.4+ MB

In [145]:
events_GER_config, eventtags_GER_config = split_events_tags(events_GER_df, "Germany")

In [146]:
print(events_GER_config.info())
print(eventtags_GER_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519357 entries, 0 to 519356
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       519357 non-null  int64
 1   matchId        519357 non-null  int64
 2   teamId         519357 non-null  int64
 3   matchPeriod    519357 non-null  object
 4   eventSec       519357 non-null  float64
 5   subEventId     518138 non-null  float64
 6   tagsList       468651 non-null  object
 7   pos_orig_y     519357 non-null  int64
 8   pos_orig_x     519357 non-null  int64
 9   pos_dest_y     519357 non-null  int64
 10  pos_dest_x     519357 non-null  int64
 11  tags_parsed    519357 non-null  object
 12  eventRecordID  519357 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 51.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734151 entries, 0 to 734150
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  734151 non-null  int64
 1   tagID          734151 non-null  int64
dtypes: int64(2)
memory usage: 11.2 MB
None

##### Save File Germany

In [147]:
output_path_events_GER = os.path.join(path_, 'events_GER_config.csv')
events_GER_config.to_csv(output_path_events_GER, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_GER}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_GER_config.csv

In [148]:
output_path_eventtags_GER = os.path.join(path_, 'eventtags_GER_config.csv')
eventtags_GER_config.to_csv(output_path_eventtags_GER, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_GER}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_GER_config.csv

##### events Italy

In [149]:
ITA_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_Italy.csv"
events_ITA_df = pd.read_csv(ITA_path)
events_ITA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647300 entries, 0 to 647299
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       647300 non-null  int64
 1   subEventName  645680 non-null  object
 2   tags          647300 non-null  object
 3   playerId      647300 non-null  int64
 4   positions     647300 non-null  object
 5   matchId       647300 non-null  int64
 6   eventName     647300 non-null  object
 7   teamId        647300 non-null  int64
 8   matchPeriod   647300 non-null  object
 9   eventSec      647300 non-null  float64
 10  subEventId    645680 non-null  float64
 11  id            647300 non-null  int64
 12  tagsList      583256 non-null  object
 13  pos_orig_y    647300 non-null  int64
 14  pos_orig_x    647300 non-null  int64
 15  pos_dest_y    647300 non-null  int64
 16  pos_dest_x    647300 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 84.0+ MB

In [150]:
events_ITA_config, eventtags_ITA_config = split_events_tags(events_ITA_df, "Italy")

In [151]:
print(events_ITA_config.info())
print(eventtags_ITA_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647300 entries, 0 to 647299
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       647300 non-null  int64
 1   matchId        647300 non-null  int64
 2   teamId         647300 non-null  int64
 3   matchPeriod    647300 non-null  object
 4   eventSec       647300 non-null  float64
 5   subEventId     645680 non-null  float64
 6   tagsList       583256 non-null  object
 7   pos_orig_y     647300 non-null  int64
 8   pos_orig_x     647300 non-null  int64
 9   pos_dest_y     647300 non-null  int64
 10  pos_dest_x     647300 non-null  int64
 11  tags_parsed    647300 non-null  object
 12  eventRecordID  647300 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 64.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905971 entries, 0 to 905970
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  905971 non-null  int64
 1   tagID          905971 non-null  int64
dtypes: int64(2)
memory usage: 13.8 MB
None

##### Save File Italy

In [152]:
output_path_events_ITA = os.path.join(path_, 'events_ITA_config.csv')
events_ITA_config.to_csv(output_path_events_ITA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_ITA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_ITA_config.csv

In [153]:
output_path_eventtags_ITA = os.path.join(path_, 'eventtags_ITA_config.csv')
eventtags_ITA_config.to_csv(output_path_eventtags_ITA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_ITA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_ITA_config.csv

##### events Spain

In [154]:
SPA_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_Spain.csv"
events_SPA_df = pd.read_csv(SPA_path)
events_SPA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628550 entries, 0 to 628549
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       628550 non-null  int64
 1   subEventName  626669 non-null  object
 2   tags          628550 non-null  object
 3   playerId      628550 non-null  int64
 4   positions     628550 non-null  object
 5   matchId       628550 non-null  int64
 6   eventName     628550 non-null  object
 7   teamId        628550 non-null  int64
 8   matchPeriod   628550 non-null  object
 9   eventSec      628550 non-null  float64
 10  subEventId    626669 non-null  float64
 11  id            628550 non-null  int64
 12  tagsList      567373 non-null  object
 13  pos_orig_y    628550 non-null  int64
 14  pos_orig_x    628550 non-null  int64
 15  pos_dest_y    628550 non-null  int64
 16  pos_dest_x    628550 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 81.5+ MB

In [155]:
events_SPA_config, eventtags_SPA_config = split_events_tags(events_SPA_df, "Spain")

In [156]:
print(events_SPA_config.info())
print(eventtags_SPA_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 628550 entries, 0 to 628549
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       628550 non-null  int64
 1   matchId        628550 non-null  int64
 2   teamId         628550 non-null  int64
 3   matchPeriod    628550 non-null  object
 4   eventSec       628550 non-null  float64
 5   subEventId     626669 non-null  float64
 6   tagsList       567373 non-null  object
 7   pos_orig_y     628550 non-null  int64
 8   pos_orig_x     628550 non-null  int64
 9   pos_dest_y     628550 non-null  int64
 10  pos_dest_x     628550 non-null  int64
 11  tags_parsed    628550 non-null  object
 12  eventRecordID  628550 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 62.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893139 entries, 0 to 893138
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  893139 non-null  int64
 1   tagID          893139 non-null  int64
dtypes: int64(2)
memory usage: 13.6 MB
None

##### Save File Spain

In [157]:
output_path_events_SPA = os.path.join(path_, 'events_SPA_config.csv')
events_SPA_config.to_csv(output_path_events_SPA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_SPA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_SPA_config.csv

In [158]:
output_path_eventtags_SPA = os.path.join(path_, 'eventtags_SPA_config.csv')
eventtags_SPA_config.to_csv(output_path_eventtags_SPA, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_SPA}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_SPA_config.csv

##### events World Cup

In [159]:
WC_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/events_World_Cup.csv"
events_WC_df = pd.read_csv(WC_path)
events_WC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101756 entries, 0 to 101755
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   eventId       101756 non-null  int64
 1   subEventName  101584 non-null  object
 2   tags          101756 non-null  object
 3   playerId      101756 non-null  int64
 4   positions     101756 non-null  object
 5   matchId       101756 non-null  int64
 6   eventName     101756 non-null  object
 7   teamId        101756 non-null  int64
 8   matchPeriod   101756 non-null  object
 9   eventSec      101756 non-null  float64
 10  subEventId    101584 non-null  float64
 11  id            101756 non-null  int64
 12  tagsList      95213 non-null   object
 13  pos_orig_y    101756 non-null  int64
 14  pos_orig_x    101756 non-null  int64
 15  pos_dest_y    101756 non-null  int64
 16  pos_dest_x    101756 non-null  int64
dtypes: float64(2), int64(9), object(6)
memory usage: 13.2+ MB

In [160]:
events_WC_config, eventtags_WC_config = split_events_tags(events_WC_df, "World_Cup")

In [161]:
print(events_WC_config.info())
print(eventtags_WC_config.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101756 entries, 0 to 101755
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   playerId       101756 non-null  int64
 1   matchId        101756 non-null  int64
 2   teamId         101756 non-null  int64
 3   matchPeriod    101756 non-null  object
 4   eventSec       101756 non-null  float64
 5   subEventId     101584 non-null  float64
 6   tagsList       95213 non-null   object
 7   pos_orig_y     101756 non-null  int64
 8   pos_orig_x     101756 non-null  int64
 9   pos_dest_y     101756 non-null  int64
 10  pos_dest_x     101756 non-null  int64
 11  tags_parsed    101756 non-null  object
 12  eventRecordID  101756 non-null  int64
dtypes: float64(2), int64(8), object(3)
memory usage: 10.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145418 entries, 0 to 145417
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eventRecordID  145418 non-null  int64
 1   tagID          145418 non-null  int64
dtypes: int64(2)
memory usage: 2.2 MB
None

##### Save File World Cup

In [162]:
output_path_events_WC = os.path.join(path_, 'events_WC_config.csv')
events_WC_config.to_csv(output_path_events_WC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_WC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/events_WC_config.csv

In [163]:
output_path_eventtags_WC = os.path.join(path_, 'eventtags_WC_config.csv')
eventtags_WC_config.to_csv(output_path_eventtags_WC, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventtags_WC}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/eventtags_WC_config.csv

### Merge File

#### Merge Event

In [4]:
folder_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/Events"

file_list = glob.glob(os.path.join(folder_path, "events_*.csv"))

dfs=[]

for file in file_list:
    df=pd.read_csv(file)
    dfs.append(df)

merge_events_df = pd.concat(dfs, ignore_index=True)

In [5]:
# Fill giá trị NaN trong cột subEventID = 60
merge_events_df["subEventId"] = merge_events_df["subEventId"].fillna(60)

# Chuyển kiểu dữ liệu về int64
merge_events_df["subEventId"] = merge_events_df["subEventId"].astype('int64')

In [6]:
merge_events_df['playerId'] = merge_events_df['playerId'].replace(0, -1)

In [7]:
merge_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250915 entries, 0 to 3250914
Data columns (total 13 columns):
 #   Column         Dtype
---  ------         -----
 0   playerId       int64
 1   matchId        int64
 2   teamId         int64
 3   matchPeriod    object
 4   eventSec       float64
 5   subEventId     int64
 6   tagsList       object
 7   pos_orig_y     int64
 8   pos_orig_x     int64
 9   pos_dest_y     int64
 10  pos_dest_x     int64
 11  tags_parsed    object
 12  eventRecordID  int64
dtypes: float64(1), int64(9), object(3)
memory usage: 322.4+ MB

In [8]:
output_path_events_config = os.path.join(path_, 'EVENTS_config.csv')
merge_events_df.to_csv(output_path_events_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_events_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/EVENTS_config.csv

#### Merge MatchTeams

In [ ]:
folder_path_matchTeam = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS"

file_matchTeam_list = glob.glob(os.path.join(folder_path_matchTeam, "MATCHTEAMS_*.csv"))

dfs_matchTeam = []

for file in file_matchTeam_list:
    df= pd.read_csv(file)
    dfs_matchTeam.append(df)

merge_matchTeam_df = pd.concat(dfs_matchTeam, ignore_index=True)

612
760
760
102
760
760
128

In [46]:
merge_matchTeam_df.loc[merge_matchTeam_df['teamID'] == 2447, 'coachID'] = 266521
merge_matchTeam_df.loc[merge_matchTeam_df['teamID'] == 678, 'coachID'] = 292972
merge_matchTeam_df.loc[merge_matchTeam_df['teamID'] == 1624, 'coachID'] = 292863

In [4]:
merge_matchTeam_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3882 entries, 0 to 3881
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   matchID  3882 non-null   int64
 1   teamID   3882 non-null   int64
 2   side     3882 non-null   object
 3   coachID  3882 non-null   int64
dtypes: int64(3), object(1)
memory usage: 121.4+ KB

In [55]:
output_path_matchTeam_config = os.path.join(path_, 'MATCHTEAMS_config.csv')
merge_matchTeam_df.to_csv(output_path_matchTeam_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matchTeam_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHTEAMS_config.csv

#### Merge EventTags

In [9]:
eventTags_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/EventTags"

file_EventTags_list = glob.glob(os.path.join(eventTags_path, "eventtags_*.csv"))

dfs_eventTags = []

for file in file_EventTags_list:
    df = pd.read_csv(file)
    dfs_eventTags.append(df)

merge_eventTags_df = pd.concat(dfs_eventTags, ignore_index=True)

In [11]:
merge_eventTags_df.head()

   eventRecordID  tagID
0              1   1801
1              2   1801
2              3   1801
3              4   1801
4              5   1801

In [10]:
merge_eventTags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4598138 entries, 0 to 4598137
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   eventRecordID  int64
 1   tagID          int64
dtypes: int64(2)
memory usage: 70.2 MB

In [12]:
output_path_eventTags_config = os.path.join(path_, 'EVENTTAGS_config.csv')
merge_eventTags_df.to_csv(output_path_eventTags_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_eventTags_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/EVENTTAGS_config.csv

#### Merge matchReferee

In [4]:
matchReferee_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHREFEREES"

file_matchReferees_list = glob.glob(os.path.join(matchReferee_path, "matchReferees_*.csv"))

dfs_matchReferees = []

for file in file_matchReferees_list:
    df = pd.read_csv(file)
    dfs_matchReferees.append(df)

merge_matchReferees_df = pd.concat(dfs_matchReferees, ignore_index=True)

In [6]:
merge_matchReferees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7942 entries, 0 to 7941
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   matchID    7942 non-null   int64
 1   refereeID  7942 non-null   int64
 2   Rrole      7942 non-null   object
dtypes: int64(2), object(1)
memory usage: 186.3+ KB

In [14]:
bad_ids = [383896, 383888, 378969, 384965, 379389, 420683, 481753, 379379, 385530, 396644, 480953]

merge_matchReferees_df = merge_matchReferees_df[~merge_matchReferees_df['refereeID'].isin(bad_ids)]

In [23]:
# Đếm số lần xuất hiện trùng
duplicates = merge_matchReferees_df[merge_matchReferees_df.duplicated(subset=["matchID", "refereeID"], keep=False)]
print("Số dòng trùng:", len(duplicates))
duplicates

Số dòng trùng: 22

      matchID  refereeID                      Rrole
411   2516941     384959             fourthOfficial
412   2516941     384959   firstAdditionalAssistant
1174  2516750     383902                    referee
1177  2516750     383902             fourthOfficial
7140  2576057     388405             firstAssistant
7141  2576057     396652            secondAssistant
7143  2576057     388405   firstAdditionalAssistant
7144  2576057     396652  secondAdditionalAssistant
7182  2576040     388413             firstAssistant
7183  2576040     393613            secondAssistant
7185  2576040     388413   firstAdditionalAssistant
7186  2576040     393613  secondAdditionalAssistant
7396  2575999     388418            secondAssistant
7399  2575999     388418  secondAdditionalAssistant
7402  2576002     381926            secondAssistant
7405  2576002     381926  secondAdditionalAssistant
7414  2576004     396641            secondAssistant
7417  2576004     396641  secondAdditionalAssistant
7550  2575988     384999            secondAssistant
7553  2575988     384999  secondAdditionalAssistant
7556  2575984     396657            secondAssistant
7559  2575984     396657  secondAdditionalAssistant

In [18]:
output_path_matchReferees_config = os.path.join(path_, 'MATCHREFEREES_config.csv')
merge_matchReferees_df.to_csv(output_path_matchReferees_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_matchReferees_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/MATCHREFEREES_config.csv

#### Merge Match File

In [21]:
match_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive"

file_match_list = glob.glob(os.path.join(match_path, "matches_*.csv"))

dfs_match = []

for file in file_match_list:
    df = pd.read_csv(file)
    dfs_match.append(df)

merge_match_df = pd.concat(dfs_match, ignore_index=True)

In [22]:
merge_match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   status                         1941 non-null   object
 1   roundId                        1941 non-null   int64
 2   gameweek                       1941 non-null   int64
 3   teamsData                      1941 non-null   object
 4   seasonId                       1941 non-null   int64
 5   dateutc                        1941 non-null   object
 6   winner                         1941 non-null   int64
 7   venue                          1835 non-null   object
 8   wyId                           1941 non-null   int64
 9   label                          1941 non-null   object
 10  date                           1941 non-null   object
 11  referees                       1941 non-null   object
 12  duration                       1941 non-null   object
 13  competitionId                  1941 non-null   int64
 14  team1.scoreET                  1941 non-null   int64
 15  team1.coachId                  1941 non-null   int64
 16  team1.side                     1941 non-null   object
 17  team1.teamId                   1941 non-null   int64
 18  team1.score                    1941 non-null   int64
 19  team1.scoreP                   1941 non-null   int64
 20  team1.hasFormation             1941 non-null   int64
 21  team1.formation                1941 non-null   object
 22  team1.scoreHT                  1941 non-null   int64
 23  team1.formation.bench          1941 non-null   object
 24  team1.formation.lineup         1941 non-null   object
 25  team1.formation.substitutions  1937 non-null   object
 26  team2.scoreET                  1941 non-null   int64
 27  team2.coachId                  1941 non-null   int64
 28  team2.side                     1941 non-null   object
 29  team2.teamId                   1941 non-null   int64
 30  team2.score                    1941 non-null   int64
 31  team2.scoreP                   1941 non-null   int64
 32  team2.hasFormation             1941 non-null   int64
 33  team2.formation                1941 non-null   object
 34  team2.scoreHT                  1941 non-null   int64
 35  team2.formation.bench          1941 non-null   object
 36  team2.formation.lineup         1941 non-null   object
 37  team2.formation.substitutions  1939 non-null   object
 38  groupName                      99 non-null     object
dtypes: int64(20), object(19)
memory usage: 591.5+ KB

In [23]:
from preprocessing.match_data import formation_data

df_formation = formation_data(merge_match_df)

df_formation.head()

,playerId,lineup,matchId,teamId,substituteIn,minuteStart,substituteOut,minuteEnd,minutePlayed
0,9206,1,2500089,1646,0,0.0,1,61.0,61.0
1,93,1,2500089,1646,0,0.0,1,80.0,80.0
2,10108,1,2500089,1646,0,0.0,0,90.0,90.0
3,8433,1,2500089,1646,0,0.0,0,90.0,90.0
4,8125,1,2500089,1646,0,0.0,0,90.0,90.0

In [7]:
df_formation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74098 entries, 0 to 74097
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   playerId       74098 non-null  int64
 1   lineup         74098 non-null  int64
 2   matchId        74098 non-null  int64
 3   teamId         74098 non-null  int64
 4   substituteIn   74098 non-null  int64
 5   minuteStart    74098 non-null  float64
 6   substituteOut  74098 non-null  int64
 7   minuteEnd      74098 non-null  float64
 8   minutePlayed   74098 non-null  float64
dtypes: float64(3), int64(6)
memory usage: 5.1 MB

In [34]:
import pandas as pd

# Danh sách playerId cần loại bỏ
drop_player_ids = [
    379199, 532900, 470819, 447214, 471582, 530062, 381235,
    497353, 302605, 475356, 488648, 531447, 503366, 298776, 3689
]

# Loại bỏ các playerId này khỏi df_formation
df_formation_clean = df_formation[~df_formation['playerId'].isin(drop_player_ids)].copy()

# Kiểm tra lại
print(df_formation_clean.shape)
print(df_formation_clean[df_formation_clean['playerId'].isin(drop_player_ids)])

(74075, 9)
Empty DataFrame
Columns: [playerId, lineup, matchId, teamId, substituteIn, minuteStart, substituteOut, minuteEnd, minutePlayed]
Index: []

In [37]:
output_path_Formation_config = os.path.join(path_, 'FORMATION_config.csv')
df_formation_clean.to_csv(output_path_Formation_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_Formation_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/FORMATION_config.csv

#### Kiểm tra Missing

In [42]:
referees_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/teams_config.csv" #file 1

matchReferees_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/EVENTS_config.csv" #file 2

os.makedirs(path_, exist_ok=True)

In [44]:
import pandas as pd

# Đọc hai file CSV
file1 = pd.read_csv(referees_path) #file 1
#file2 = pd.read_csv(matchReferees_path) #file 2
#file1 = merge_match_df
file2 = df_formation

# Kiểm tra 5 dòng đầu để chắc chắn đã đọc đúng
#print(file1.head())
#print(file2.head())

# So sánh cột chung, ví dụ cột 'passportAreaID'
common_col = 'wyId'
areas_col = 'teamId'

# Tìm các giá trị trong file1 mà không có trong file2
#diff1 = file1[~file1[common_col].isin(file2[areas_col])]
#print("Giá trị có trong file1 nhưng không có trong file2:")
#print(diff1)

# Tìm các giá trị trong file2 mà không có trong file1
diff2 = file2[~file2[areas_col].isin(file1[common_col])]
#diff2 = diff2.drop_duplicates(subset=areas_col)
print("\nGiá trị có trong file2 nhưng không có trong file1:")
print(diff2)
diff2.to_csv("duplicateReferees.csv", encoding='utf-8-sig')

Giá trị có trong file2 nhưng không có trong file1:
Empty DataFrame
Columns: [playerId, lineup, matchId, teamId, substituteIn, minuteStart, substituteOut, minuteEnd, minutePlayed]
Index: []

In [13]:
diff2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 2045 to 60738
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   playerId       15 non-null     int64
 1   lineup         15 non-null     int64
 2   matchId        15 non-null     int64
 3   teamId         15 non-null     int64
 4   substituteIn   15 non-null     int64
 5   minuteStart    15 non-null     float64
 6   substituteOut  15 non-null     int64
 7   minuteEnd      15 non-null     float64
 8   minutePlayed   15 non-null     float64
dtypes: float64(3), int64(6)
memory usage: 1.2 KB

In [52]:
output_path_coach_config = os.path.join(path_, 'coaches_config.csv')
df_coach_config.to_csv(output_path_coach_config, index=False, encoding='utf-8-sig')
print(f"File autosave! {output_path_coach_config}")

File autosave! /mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/coaches_config.csv

In [19]:
events_path = "/mnt/d/HocTap2526/DoAn/DataSet/afterConfigDataset/Events/events_EN_config.csv"
import pandas as pd

df = pd.read_csv(events_path)

so_luong = (df["playerId"] == 0).sum()

print("Số lượng playerID = 0:", so_luong)

Số lượng playerID = 0: 48027

### Check SQL

### Formation_data

In [19]:
matches_path = "/mnt/d/HocTap2526/DoAn/DataSet/archive/matches_England.csv"

match_ = pd.read_csv(matches_path)

#print(f"Formation: {row['team1.formation']}\n")

#print(f"Bench: {row['team1.formation.bench']}\n")
#print(f"Lineup: {row['team1.formation.lineup']}\n")
print(f"Substitutions: {row['team1.formation.substitutions']}")

Substitutions: [{'playerIn': 26010, 'playerOut': 370224, 'minute': 67}, {'playerIn': 7870, 'playerOut': 120339, 'minute': 67}, {'playerIn': 7879, 'playerOut': 7945, 'minute': 75}]